@(beefcake: Beefcake, users: List[Beefcake])

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", Some(beefcake)) {
  @bs2Row() {
    @form(routes.Application.submitNewUser, ('class, "form-vertical")) {
      @bs2Span(9, None) {
        <fieldset>
          <legend>Create a new user</legend>
          <div class="control-group">
            <div class="controls">
              <input type="text" placeholder="Username" name="username" />
              <input type="text" placeholder="Password" name="password" />
              <input class="btn btn-primary" type="submit" value="Create" />
            </div>
          </div>
        </fieldset>
      }
    }
  }
  @bs2Row() {
    @bs2Span(9, None) {
      <h2>Registered users</h2>
      @{for(u<-users) yield 
        <p>{u.username}</p>
      }
    }
  }
}

