@(energySeries: Seq[(Date, Double)], proteinSeries: Seq[(Date, Double)], fatSeries: Seq[(Date, Double)], carbsSeries: Seq[(Date, Double)], beefcake: Option[Beefcake], startDay: Int, startMonth: Int, startYear: Int, endDay: Int, endMonth: Int, endYear: Int, weightSeries: Seq[(Date, Double)], postTarget: Call, goals: Map[String,MeasureGoal])

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", beefcake) {
	@bs2Row() {
		@form(postTarget, ('class, "form-vertical")) {
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>Start</legend>
					<div class="control-group">
						<div class="controls">
							<select class="span1" name="startday">
								@{for(i <- 1 to 31) yield 
									if(i == startDay) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="startmonth">
								@{for(i <- 1 to 12) yield
									if(i == startMonth) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="startyear">
								@{for(i <- 2012 to 2012) yield
									if(i == startYear) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<script type="text/javascript" charset="utf-8">
								$(function() {
									$("select[name='startday'], select[name='startmonth'], select[name='startyear']").change(function(){
										$(this).closest("form").submit();
									});
								});
							</script>
						</div>
					</div>
				</fieldset>
			}
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>End</legend>
					<div class="control-group">
						<div class="controls">
							<select class="span1" name="endday">
								@{for(i <- 1 to 31) yield 
									if(i == endDay) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="endmonth">
								@{for(i <- 1 to 12) yield
									if(i == endMonth) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="endyear">
								@{for(i <- 2012 to 2012) yield
									if(i == endYear) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<script type="text/javascript" charset="utf-8">
								$(function() {
									$("select[name='endday'], select[name='endmonth'], select[name='endyear']").change(function(){
										$(this).closest("form").submit();
									});
								});
							</script>
						</div>
					</div>
				</fieldset>
			}
		}
	}
	@bs2Row() {
        <form id="form-update">
          <fieldset>
            @bs2Span(2, Some(1)) {
              <div class="control-group">
                  <div class="controls">
                      @{/* energy */}
                      <label for="input-energy-goal">Energy Goal</label>
                      <input type="radio" name="radio-energy" value="energy" />
                      @{goals.get("energy") match{
                        case Some(goal) => Html("<input class='span2' type='number' min='0' step='50' size='16' id='input-energy-goal' value='" + goal.goalValue + "' rel='tooltip' title='Press Enter to update' />")
                        case None => Html("<input class='span2' type='number' min='0' step='50' size='16' id='input-energy-goal' placeholder='None' rel='tooltip' title='Press Enter to update' />")
                      }}
                  </div>
              </div>
            }
            @bs2Span(2, Some(1)) {
              <div class="control-group">
                  <div class="controls">
                    @{/* weight */}
                    <label for="input-weight-goal">Weight Goal</label>
                    <input type="radio" name="radio-weight" value="weight" />
                    @{goals.get("weight") match{
                      case Some(goal) => Html("<input class='span2' type='number' min='0' step='50' size='16' id='input-weight-goal' value='" + goal.goalValue + "' rel='tooltip' title='Press Enter to update' />")
                      case None => Html("<input class='span2' type='number' min='0' step='50' size='16' id='input-weight-goal' placeholder='None' rel='tooltip' title='Press Enter to update' />")
                    }}
                  </div>
              </div>
            }
              <script type="text/javascript" charset="utf-8">
                var activeQuery = "#input-energy-goal";
                $(function() {
                    $("#input-energy-goal").focus(function() {
                      activeQuery = "#input-energy-goal";
                    });
                    $("#input-weight-goal").focus(function() {
                      activeQuery = "#input-weight-goal";
                    });
                });
                  $(function() {
                      $(activeQuery).tooltip({trigger: 'manual'});
                      $(activeQuery).bind("keypress mouseup", function(event) {
                        if(event.which != 13) {
                          setTimeout(function(){$(activeQuery).tooltip('show');}, 500);
                        }
                      });
                      $("#input-energy-goal").bind("keypress", function(event) {
                        if(event.which == 13) {
                          var newGoal = $(this).val();
                          $.get("@routes.Application.updateGoal("energy", "")" + newGoal, function(){
                            console.log("update success");
                            $(activeQuery).tooltip('hide');
                            plotEnergyWeight();
                          });
                        }
                      });

                      // make sure the page will not be reloaded when the user hits enter
                      $("#form-update").submit(function() {
                          return false;
                      });
                  });
              </script>
            </fieldset>
        </form>
	}
	@bs2Row() {
		@bs2Span(7, Some(1)) {
			<h4>Energy</h4>
			<div id="energy-placeholder" style="width: 600px; height: 250px; position: relative; "></div>
			<script type="text/javascript" charset="utf-8">
				function plotEnergyWeight() {
					// energy goal
					var energyGoal = parseInt($("#input-energy-goal").val());
					// energy
					var energy = [@{energySeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var minEnergy = @{energySeries.length match {case 0 => 0; case _ => energySeries.minBy(a => a._2)._2}};
					minEnergy = isNaN(energyGoal) || minEnergy < energyGoal ? minEnergy : energyGoal;
					minEnergy -= minEnergy > 200 ? 200 : 0;
					var maxEnergy = @{energySeries.length match {case 0 => 0; case _ => energySeries.maxBy(a => a._2)._2}};
					maxEnergy = isNaN(energyGoal) || maxEnergy > energyGoal ? maxEnergy : energyGoal;
					maxEnergy += 200;
					var energyLabel = "Energy (Average: @{(energySeries.map{entry => entry._2}.foldLeft(0.0){_+_} / energySeries.length).toInt} kCal/day)";

					// weight
					var weight = [@{weightSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var minWeight = @{weightSeries match {case Nil => 0; case _ => weightSeries.minBy(a => a._2)._2}};
					minWeight = minWeight >= 1 ? minWeight - 0.5 : 0; // minWeight < 10??? unfortunate situation!
					var maxWeight = @{weightSeries match {case Nil => 0; case _ => weightSeries.maxBy(a => a._2)._2}};
					maxWeight += 0.5;
					var weightLabel = "Weight (Average: @{weightSeries.length match { case 0 => 0; case _ => (weightSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / weightSeries.length).toInt}} kg/day)";
					var showWeightPoints = @weightSeries.length == 1 ? true : false;
					var showEnergyPoints = @energySeries.length == 1 ? true : false;

					$.plot($("#energy-placeholder"),
						[{data: energy, lines: {show: true}, points: {show: showEnergyPoints}, label: energyLabel, yaxis: 1}, {data: weight, points: {show: showWeightPoints}, lines: {show: true}, label: weightLabel, yaxis: 2}],
						{xaxis: {mode: "time", position: "bottom"}, yaxes: [{show: true, position: "left", min: minEnergy, max: maxEnergy}, {position: "right", min: minWeight, max: maxWeight}], grid: {show: true, markings: [{yaxis: {from: energyGoal, to: energyGoal}, color: 'red'}]}}
					);
				}
				$(function () {
					plotEnergyWeight();
				});
			</script>
		}
	}
	@bs2Row() {
		@bs2Span(7, Some(1)) {
			<h4>Macro Nutrients</h4>
			<div id="macros-placeholder" style="width: 600px; height: 250px; position: relative; "></div>
			<script type="text/javascript" charset="utf-8">
				$(function () {
					var protein = [@{proteinSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var proteinLabel = "Protein (Average: @{(proteinSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / proteinSeries.length).toInt} g/day)";
					var fat = [@{fatSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var fatLabel = "Fat (Average: @{(fatSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / fatSeries.length).toInt} g/day)";
					var carbs = [@{carbsSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var carbsLabel = "Fat (Average: @{(carbsSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / carbsSeries.length).toInt} g/day)";

					var minValue = 0;
					var maxValue = @{List(proteinSeries.unzip(a => (a._1, a._2))._2.toList ::: fatSeries.unzip(a => (a._1, a._2))._2.toList ::: carbsSeries.unzip(a => (a._1, a._2))._2.toList).length match {case 0 => 150; case _ => proteinSeries.maxBy(_._2)._2}};
					maxValue += 10;

					var showProteinPoints = @proteinSeries.length == 1 ? true : false;
					var showFatPoints = @fatSeries.length == 1 ? true : false;
					var showCarbsPoints = @carbsSeries.length == 1 ? true : false;
					$.plot($("#macros-placeholder"), 
						[{data: protein, points: {show: showProteinPoints}, lines: {show: true}, label: proteinLabel, yaxis: 1}, 
						{data: fat, points: {show: showFatPoints}, lines: {show: true}, label: fatLabel, yaxis: 1}, 
						{data: carbs, points: {show: showCarbsPoints}, lines: {show: true}, label: carbsLabel, yaxis: 2}],
						{xaxis: {mode: "time", show: true, position: "bottom"}, yaxes: [{show: true, position: "left", min: minValue, max: maxValue}, {position: 'right', min: minValue, max: maxValue}]}
					);
				});
			</script>
		}
	}

	<script type="text/javascript" charset="utf-8">
		$(function(){
			// select the navbar link for this view as active
			$("#analyze-nav-link").closest("li").addClass("active");
		});
	</script>
}
