@(energySeries: List[(Date, Double)], proteinSeries: List[(Date, Double)], fatSeries: List[(Date, Double)], carbsSeries: List[(Date, Double)], beefcake: Beefcake, startDay: Int, startMonth: Int, startYear: Int, endDay: Int, endMonth: Int, endYear: Int, weightSeries: List[(Date, Double)])

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", Some(beefcake)) {
	@bs2Row() {
		@form(routes.Application.analyzePost, ('class, "form-vertical")) {
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>Start</legend>
					<div class="control-group">
						<div class="controls">
							<select class="span1" name="startday">
								@{for(i <- 1 to 31) yield 
									if(i == startDay) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="startmonth">
								@{for(i <- 1 to 12) yield
									if(i == startMonth) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="startyear">
								@{for(i <- 2012 to 2012) yield
									if(i == startYear) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<script type="text/javascript" charset="utf-8">
								$(function() {
									$("select[name='startday'], select[name='startmonth'], select[name='startyear']").change(function(){
										$(this).closest("form").submit();
									});
								});
							</script>
						</div>
					</div>
				</fieldset>
			}
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>End</legend>
					<div class="control-group">
						<div class="controls">
							<select class="span1" name="endday">
								@{for(i <- 1 to 31) yield 
									if(i == endDay) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="endmonth">
								@{for(i <- 1 to 12) yield
									if(i == endMonth) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="endyear">
								@{for(i <- 2012 to 2012) yield
									if(i == endYear) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<script type="text/javascript" charset="utf-8">
								$(function() {
									$("select[name='endday'], select[name='endmonth'], select[name='endyear']").change(function(){
										$(this).closest("form").submit();
									});
								});
							</script>
						</div>
					</div>
				</fieldset>
			}
		}
	}
	@bs2Row() {
		@bs2Span(7, Some(1)) {
			<h4>Energy</h4>
			<div id="energy-placeholder" style="width: 600px; height: 250px; position: relative; "></div>
			<script type="text/javascript" charset="utf-8">
				$(function () {
						var energy = [@{energySeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
						var energyLabel = "Energy (Average: @{(energySeries.map{entry => entry._2}.foldLeft(0.0){_+_} / energySeries.length).toInt} kCal/day)";
						var weight = [@{weightSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
						var weightLabel = "Weight (Average: @{(weightSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / weightSeries.length).toInt} kg/day)";
						$.plot($("#energy-placeholder"),
							[{data: energy, lines: {show: true}, points: {show: true}, label: energyLabel, yaxis: 1}, {data: weight, points: {show: true}, lines: {show: true}, label: weightLabel, yaxis: 2}],
							{xaxis: {mode: "time", position: "bottom"}, yaxes: [{show: true, position: "left"}, {position: "right"}]}
						);
				});
			</script>
		}
	}
	@bs2Row() {
		@bs2Span(7, Some(1)) {
			<h4>Macro Nutrients</h4>
			<div id="macros-placeholder" style="width: 600px; height: 250px; position: relative; "></div>
			<script type="text/javascript" charset="utf-8">
				$(function () {
					var protein = [@{proteinSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var proteinLabel = "Protein (Average: @{(proteinSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / proteinSeries.length).toInt} g/day)";
					var fat = [@{fatSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var fatLabel = "Fat (Average: @{(fatSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / fatSeries.length).toInt} g/day)";
					var carbs = [@{carbsSeries.sortWith{(a, b) => a._1.toLong < b._1.toLong}.map{entry=> "[" + entry._1.toLong.toString + ", " + entry._2 + "]"}.mkString(", ")}];
					var carbsLabel = "Fat (Average: @{(carbsSeries.map{entry => entry._2}.foldLeft(0.0){_+_} / carbsSeries.length).toInt} g/day)";
					$.plot($("#macros-placeholder"), 
						[{data: protein, points: {show: true}, lines: {show: true}, label: proteinLabel}, 
						{data: fat, points: {show: true}, lines: {show: true}, label: fatLabel}, 
						{data: carbs, points: {show: true}, lines: {show: true}, label: carbsLabel}],
						{xaxis: {mode: "time", show: true, position: "bottom"}}
					);
				});
			</script>
		}
	}

	<script type="text/javascript" charset="utf-8">
		$(function(){
			// select the navbar link for this view as active
			$("#analyze-nav-link").closest("li").addClass("active");
		});
	</script>
}
