@()

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", None) {
	@bs2Row() {
		@bs2Span(6, Some(3)) {
			@form(routes.Application.changePassword, ('class, "form-horizontal")){
				<fieldset>
					<legend>Enter your new password</legend>
                    <div class="control-group">
                      <label class="control-label" for="old-password">Current Password</label>
                      <div class="controls">
                        <input type="password" id="old-password" name="old-password" placeholder="Old" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="new-password">New Password</label>
                      <div class="controls">
                        <input type="password" id="new-password" name="new-password" placeholder="New" />
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="new-password-confirm">Password confirmation</label>
                      <div class="controls">
                        <input type="password" id="new-password-confirmation" name="new-password-confirmation" placeholder="Confirmation" />
                      </div>
                    </div>

                    <div class="control-group">
                      <div class="controls">
                        <input type="submit" value="Do it!" class="btn btn-primary" />
                      </div>
                    </div>
				</fieldset>
			}
		}
	}
}
