@(date: Option[Date], name: Option[String], id: String)

@import models.Date

<div id="date-picker-@id">
  <div class="btn-group" style="margin-bottom: 5px;">
    <button class="btn" id="date-prev-@id"><i class="icon-arrow-left"></i></button>
    <button class="btn" id="date-today-@id">Today</button>
    <button class="btn" id="date-next-@id"><i class="icon-arrow-right"></i></button>
    <script type="text/javascript">
      $("#date-prev-@id").click(function() {
          console.log("prev");
          // TODO read current date
          // TODO decrement by a day
          // TODO write back
          return false;
      });
      $("#date-today-@id").click(function() {
          console.log("today");
          // TODO set to current date
          return false;
      });
      $("#date-next-@id").click(function() {
          console.log("next");
          // TODO read current date
          // TODO increment by a day
          // TODO write back
          return false;
      });
    </script>
  </div>

  <div>
    <select id="day-@id" class="span1" name="@{name match {case None=>""; case Some(n)=>n+"-"}}day">
        @{1.to(31).map{d =>
            val dat = date match {
                case None => Date()
                case Some(dat) => dat
            }
            if(dat.day == d)
                Html("<option selected=\"selected\">" + d + "</option>")
            else 
                Html("<option>" + d + "</option>")
        }}
    </select>

    <select id="month-@id" class="span1" name="@{name match {case None=>""; case Some(n)=>n+"-"}}month">
        @{1.to(12).map{d =>
            val dat = date match {
                case None => Date()
                case Some(dat) => dat
            }
            if(dat.month == d)
                Html("<option selected=\"selected\">" + d + "</option>")
            else 
                Html("<option>" + d + "</option>")
        }}
    </select>


    <select id="year-@id" class="span1" name="@{name match {case None=>""; case Some(n)=>n+"-"}}year">
        @{2012.to(2015).map{d =>
            val dat = date match {
                case None => Date()
                case Some(dat) => dat
            }
            if(dat.year == d)
                Html("<option selected=\"selected\">" + d + "</option>")
            else 
                Html("<option>" + d + "</option>")
        }}
    </select>
  </div>
</div>

