@(day: Option[Int], month: Option[Int], year: Option[Int], macroEntries: List[MacroEntry], macroEntryForm: Form[(Option[String], Int, Int, Int, Int, Int, Int, Int, Int)], macroEntryByFoodForm: Form[(String, Int, Int, Int, Int)], dateFilterForm: Form[(Int, Int, Int)], beefcake: Beefcake)

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", Some(beefcake)) {
	@bs2Row() {
		@form(routes.Application.submitDateFilter, ('class, "form-vertical")) {
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>Choose your date</legend>
					<div class="control-group">
						<div class="controls">
							<select class="span1" name="day">
								@{for(i <- 1 to 31) yield 
									if(i == day.get) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="month">
								@{for(i <- 1 to 12) yield
									if(i == month.get) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<select class="span1" name="year">
								@{for(i <- 2012 to 2012) yield
									if(i == year.get) Html("<option selected='selected'>" + i.toString + "</option>")
									else Html("<option>" + i.toString + "</option>")
								}
							</select>
							<script type="text/javascript" charset="utf-8">
								$(function() {
									$("select[name='day'], select[name='month'], select[name='year']").change(function(){
										$(this).closest("form").submit();
									});
								});
							</script>
						</div>
					</div>
				</fieldset>
			}
			@bs2Span(3, Some(1)) {
				@eatPieChart(macroEntries)
			}
		}
	}

	@{/* tracking pane */}
	@eatEntry(day, month, year, macroEntries, macroEntryForm, macroEntryByFoodForm)

	<script type="text/javascript" charset="utf-8">
		$(function(){
			// select the navbar link for this view as active
			$("#eat-nav-link").closest("li").addClass("active");

			// TODO move this into the eatEntry template
			// typeahead
			$("input[name='foodName']").typeahead({source: function(typeahead, query) {
				var url = '@routes.Application.suggestFood("")';
				console.log("Getting new suggestions...");
				$.getJSON(url + query, function(response) {
					console.log("New suggestions: " + response.items);
					typeahead.process(response.items);
				});
			}
			, matcher: function(item) {
				//// all of the words in the query need to appear in the item
				//var queryWords = this.query.split(" ");
				//var found = true;
				//for(word in queryWords) {
				//	var itemUpper = item.toUpperCase();
				//	var wordUpper = queryWords[word].toUpperCase();
				//	if(itemUpper.indexOf(wordUpper) ==  -1) found = false;
				//}
				//return found;
				// whatever
				return true;
			}
			});

			// focus the food input field
			$("input[name='foodName']").focus();
		});
	</script>
}
