@(day: Option[Int], month: Option[Int], year: Option[Int], macroEntries: List[MacroEntry], macroEntryForm: Form[(Option[String], Int, Int, Int, Int, Int, Int, Int, Int)], macroEntryByFoodForm: Form[(Int, Int, Int, Int, Int)], dateFilterForm: Form[(Int, Int, Int)], beefcake: Beefcake)

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

@main(Html("Superbeefcake!"), "", Some(beefcake)) {
  <script type="text/javascript" src="@routes.Assets.at("javascript/eat.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascript/eatEntry.js")"></script>
  <script type="text/javascript">
    $(function() {
        initEat();
    });
  </script>
	@bs2Row() {
		@form(routes.Application.submitDateFilter, ('class, "form-vertical")) {
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend>Choose your date</legend>
					<div class="control-group">
						<div class="controls">
                          @{datePicker((day, month, year) match {
                            case (Some(d), Some(m), Some(y))=>Some(new Date(d,m,y))
                            case _ => Some(Date())
                            }, Some("start"), "start")}
						</div>
					</div>
				</fieldset>
			}
			@bs2Span(3, Some(1)) {
				@eatPieChart(macroEntries)
			}
		}
	}

	@{/* tracking pane */}
	@eatEntry(day, month, year, macroEntries, macroEntryForm, macroEntryByFoodForm)
}

