@(day: Option[Int], month: Option[Int], year: Option[Int], macroEntries: List[MacroEntry], macroEntryForm: Form[(Option[String], Int, Int, Int, Int, Int, Int, Int, Int)], macroEntryByFoodForm: Form[(Int, Int, Int, Int, Int)])

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

<script type="text/javascript" src="@routes.Assets.at("javascript/eatEntry.js")"></script>

@bs2Row() {
	@bs2Span(8, Some(1)) {
      @form(routes.Application.submitMacroEntryByFood, ('class->"form-horizontal"), ('id->"new-macro-entry")) {
			<fieldset>
				<legend>Track your meals</legend>
				<div class="control-group">
					<input type="hidden" name="day" value="@{day match { case None => Date().day; case Some(day) => day}}" />
					<input type="hidden" name="month" value="@{month match { case None => Date().month; case Some(month) => month}}" />
					<input type="hidden" name="year" value="@{year match { case None => Date().year; case Some(year) => year}}" />
                    <input type="hidden" name="foodId" value="" />
					<input type="text" name="foodName" class="span3" placeholder="Food" data-provide="typeahead" autocomplete="off" />
					@bs2TextField("amount", 2, Some("Amount (g)"))
					<input type="submit" value="Add" class="btn btn-primary" />
					<a href="#" id="link-manual-macro">Manual Entry</a>
				</div>
			</fieldset>
		}
	}
}

<!-- needed as long as we still use scala templates -->
<script type="text/javascript">
  var suggestFoodUrl = '@routes.Application.suggestFood("")';
</script>


@bs2Row() {
	@bs2Span(8, Some(1)) {
		@bs2Table(List(Html(""),Html("Amount"), Html("kCal"), Html("Protein"), Html("Fat"), Html("Carbs"), Html("")), 'class -> "table-condensed table-striped") {
			@macroEntries.sortWith{_.id.get < _.id.get}.map{macroEntry => 
              <script type="text/javascript">
                $(function() {
                  regMacroEntry("@macroEntry.id.get", "@routes.Application.updateMacroEntry(macroEntry.id.get, 0)");
                });
              </script>
				<tr>
					<td>
						@{macroEntry.food match {
							case None => ""
							case Some(food) => 
							food.replace("&szlig;", "ß").replace("&Uuml;", "Ü").replace("&Ouml;", "Ö").replace("&Auml;", "Ä").replace("&uuml;", "ü").replace("&ouml;", "ö").replace("&auml;", "ä")
						}}
					</td>
					<td>
						<input type="text" name="amount" id="amount-@macroEntry.id.get" value="@macroEntry.amount.toInt.toString" class="span1" style="margin-bottom: 0px;" rel="tooltip" title="Press Enter to udpate" />
						<span class="label label-warning hide" id="label-saving-@macroEntry.id.get" style="position: relative; top: -5px;">Saving...</span>
						<span class="label label-success hide" id="label-saved-@macroEntry.id.get" style="position: relative; top: -5px;">Saved</span>
					</td>
					<td id="td-energy-@macroEntry.id.get">@macroEntry.kCal.toInt.toString</td>
					<td id="td-protein-@macroEntry.id.get">@macroEntry.protein.toInt.toString</td>
					<td id="td-fat-@macroEntry.id.get">@macroEntry.fat.toInt.toString</td>
					<td id="td-carbs-@macroEntry.id.get">@macroEntry.carbs.toInt.toString</td>
					<td>
						<a tabindex="-1" href="@{routes.Application.deleteMacroEntry(macroEntry.id.get)}" style="font-weight: bold; font-size: 16px; line-height: 16px; color: black; text-shadow: 0 1px 0 white; opacity: 0.2;">x</a>
					</td>
				</tr>
			}
			<tr>
				<td><strong>Total</strong></td>
				<td><strong id="amount-total">@macroEntries.map(_.amount).foldLeft[Double](0)(_+_).toInt</strong></td>
				<td><strong id="energy-total">@macroEntries.map(_.kCal).foldLeft[Double](0)(_+_).toInt</strong></td>
				<td><strong id="protein-total">@macroEntries.map(_.protein).foldLeft[Double](0)(_+_).toInt</strong></td>
				<td><strong id="fat-total">@macroEntries.map(_.fat).foldLeft[Double](0)(_+_).toInt</strong></td>
				<td><strong id="carbs-total">@macroEntries.map(_.carbs).foldLeft[Double](0)(_+_).toInt</strong></td>
				<td>
					<a id="link-clear-date" href="#" style="font-weight: bold; font-size: 16px; line-height: 16px; color: black; text-shadow: 0 1px 0 white; opacity: 0.2;">x</a>
					<script type="text/javascript" charset="utf-8">
                      initEatEntry();
					</script>
				</td>
			</tr>
		}
	}
}

@{/* Manual entry modal */}
  @bs2Modal(Some("modal-macro-manual"), Some("Add a new food to your database")) {
    @bs2Row(){
      @bs2Span(3, None) {
        @form(routes.Application.submitUserFoodEntry, ('class -> "form-horizontal")) {
          <fieldset>
                @{(day, month, year, routes.Application.eat(day, month, year)) match {
                  case (Some(day), Some(month), Some(year), route) =>
                    <input type="hidden" name="redirectTo" value={route.toString} />
                    <input type="hidden" name="day" value={day.toString} />
                    <input type="hidden" name="month" value={month.toString} />
                    <input type="hidden" name="year" value={year.toString} />
                  case (_,_,_,route) =>
                    <input type="hidden" name="redirectTo" value={route.toString} />
                    <input type="hidden" name="day" value={Date().day.toString} />
                    <input type="hidden" name="month" value={Date().month.toString} />
                    <input type="hidden" name="year" value={Date().year.toString} />
                  }}
                  <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                      @bs2TextField("name", 2, Some("Name"))
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="kCal">Energy (kCal)</label>
                    <div class="controls">
                      @bs2TextField("kCal", 2, Some("Energy"))
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="protein">Protein (g)</label>
                    <div class="controls">
                      @bs2TextField("protein", 2, Some("Protein"))
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="fat">Fat (g)</label>
                    <div class="controls">
                      @bs2TextField("fat", 2, Some("Fat"))
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="carbs">Carbs (g)</label>
                    <div class="controls">
                      @bs2TextField("carbs", 2, Some("Carbs"))
                    </div>
                  </div>
          </fieldset>
          }
        }
        @bs2Span(2, Some(1)) {
          <div class="alert alert-info">
            This menu will add a new type of food to your private database. You can then just type in this food to create a new log entry.
          </div>
        }
      }
    }{
      <input type="submit" value="Add" class="btn btn-primary" />
    }

@{/* Delete sheet warning modal */}
@bs2Modal(Some("modal-clear-sheet-warning"), Some("Are you sure?")) {
	All of the entries for this day will be deleted!
} {
	<a class="btn btn-primary" href="@{routes.Application.deleteAllEntries(day match {case None=> Date().day; case Some(d)=>d}, month match{ case None => Date().month; case Some(m) => m}, year match {case None => Date().year; case Some(y) => y})}">Yeah, I know!</a>
	<a class="btn" href="#" data-dismiss="modal">Nope</a>
}

