@(title: Html, nav: String = "", beefcake: Option[Beefcake])(content: Html)
<!doctype html>
<html lang="en">
    <head>
        <title>Kampfkoloss!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.pie.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascript/main.js")"></script>
    </head>
    <body style="padding-top: 40px;">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Kampfkoloss!</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="@{routes.Application.eat(None, None, None)}" id="eat-nav-link">Eat</a></li>
							<li><a href="@{routes.Application.measure(None, None, None, None, None, None)}" id="measure-nav-link">Measure</a></li>
							<li><a href="@{routes.Application.analyze(None, None, None, None, None, None)}" id="analyze-nav-link">Analyze</a></li>
							<li><a href="@{routes.Application.manageOwnFoodEntries()}" id="manage-foods-nav-link">Manage Foods</a></li>
                            @{beefcake match {
                              case Some(b) => if(b.username == "peter") {<li><a href="/administer" id="admin-nav-link">Administration</a></li>} else Html("")
                              case None => Html("")
                            } }
						</ul>
						<ul class="nav pull-right">
                          @{beefcake match {
                            case None | Some(Beefcake(_, _, _, true, _)) => Html("<li><a href=\"" + routes.Application.login + "\">Login</a></li>")
                            case Some(user) => Html("""
                              <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                  Account
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                        <li><a href="changePassword">Change password</a></li>
                                        <li class="divider"></li>
                                        <li><a href="deauth">Logout</a></li>
                                </ul>
                              </li>
                            """)
                          }}
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div class="container">

            <div class="content">
                
				@content
                
            </div>

            <footer>
                <p>
                    <a href="http://www.augmented-code.com">www.augmented-code.com</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>

