@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Form samples</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.pie.js")" type="text/javascript"></script>
    </head>
    <body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Superbeefcake!</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="@{routes.Application.eat(None, None, None)}" id="eat-nav-link">Eat</a></li>
							<li><a href="#" id="workout-nav-link">Workout</a></li>
							<li><a href="@{routes.Application.analyze}" id="analyze-nav-link">War Analysis</a></li>
						</ul>
						<ul class="nav pull-right">
							<li><a href="@{routes.Application.deauth}">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div class="container">

            <div class="content">
                
				@content
                
            </div>

            <footer>
                <p>
                    <a href="http://www.augmented-code.com">www.augmented-code.com</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>

