@(beefcake: Beefcake, startDate: Option[Date], endDate: Option[Date], measureEntryForm: Form[(String, String, Int, Int, Int)], measureEntries: List[MeasureEntry])

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date

<script type="text/javascript" src="@routes.Assets.at("javascript/measure.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascript/datePicker.js")"></script>

@main(Html("Superbeefcake!"), "", Some(beefcake)) {
	@bs2Row() {
		@form(routes.Application.submitMeasureDateFilter){
			@bs2Span(3, Some(1)) {
				<fieldset>
					<legend class="control-label">Start date</legend>
					<div class="control-group">
						<div class="controls">
							@datePicker(startDate, Some("start"), "start")
						</div>
					</div>
				</fieldset>
			}
			@bs2Span(3, None) {
				<fieldset>
					<legend class="control-label">End date</legend>
					<div class="control-group">
						<div class="controls">
							@datePicker(endDate, Some("end"), "end")
						</div>
					</div>
				</fieldset>
			}
			<script type="text/javascript" charset="utf-8">
				$(initMeasure());
			</script>
		}
	}

	@bs2Row() {
		@bs2Span(6, Some(1)) {
			@bs2Table(List(Html("Date"), Html("Weight"), Html(""))){
				<tr>
					@form(routes.Application.submitMeasureEntry, ('class->"form-inline")) {
						<td>
							<input type="text" title="1..31" class="span1" name="day" placeholder="Day" value="@{Date().day.toString}" />
							<input type="text" title="1..12" class="span1" name="month" placeholder="Month" value="@{Date().month.toString}" />
							<input type="text" title="2012..2014" class="span1" name="year" placeholder="Year" value="@{Date().year.toString}" />
						</td>
						<td>
							<input type="hidden" name="field" value="weight" />
							<input type="text" id="input-weight-new" name="value" placeholder="Weight" class="span2" />
						</td>
						<td>
							<input type="submit" class="btn btn-primary" value="Add" />
						</td>
					}
				</tr>
				@{/* the form and function are there so there is no page reload when you hit enter when there is only one entry to update */}
				<form id="form-update">
					@measureEntries.filter(entry => entry.field.toLowerCase == "weight").sortBy(a=>a.time.get)(Date).reverse.map{ measureEntry =>
						<tr>
							<td>@measureEntry.time</td>
							<td>
								<input type="text" class="span1" name="value" id="measure-entry-@measureEntry.id" value="@measureEntry.value">
								<script type="text/javascript" charset="utf-8">
									$(regMeasureEntry("@measureEntry.id.get", "@routes.Application.updateMeasureEntry(measureEntry.id.get, "weight", "")"));
								</script>
								<span class="label label-warning hide" id="label-saving-@measureEntry.id.get" style="position: relative; top: -5px;">Saving...</span>
								<span class="label label-success hide" id="label-saved-@measureEntry.id.get" style="position: relative; top: -5px;">Saved</span>
							</td>
							<td>
								<a href="@{routes.Application.deleteMeasureEntries("{[" + measureEntry.id.get + "]}")}" style="font-weight: bold; font-size: 16px; line-height: 16px; color: black; text-shadow: 0 1px 0 white; opacity: 0.2;">x</a>
							</td>
						</tr>
					}
					<tr>
						<td><strong>Average<strong></td>
								<td>@{measureEntries.length match {case 0 => 0; case _ => (1.0/measureEntries.length) * measureEntries.foldLeft(0.0)((a, b) => a + b.value)}}</td>
						<td>
							<a href="@{routes.Application.deleteMeasureEntries(MeasureEntry.renderIdsAsJson(measureEntries))}" style="font-weight: bold; font-size: 16px; line-height: 16px; color: black; text-shadow: 0 1px 0 white; opacity: 0.2;">x</a>
						</td>
					</tr>
				</form>
			}
		}
	}

}

