@(ownFoods: List[Food], beefcake: Beefcake)

@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._
@import models.Date


@main(Html("Superbeefcake"), "", Some(beefcake)) {
  <script type="text/javascript" src="@routes.Assets.at("javascript/ownFoods.js")"></script>
  <script type="text/javascript" charset="utf-8">
      $(function(){
          // select the navbar link for this view as active
          $("#manage-foods-nav-link").closest("li").addClass("active");
      });
  </script>
  @bs2Row() {
      @bs2Span(8, Some(1)) {
        <h1>Your own food entries...</h1>
        @bs2Table(List(Html("Name"), Html("Amount"), Html("kCal"), Html("Protein"), Html("Fat"), Html("Carbs"), Html("")), 'class -> "table-condensed table-striped") {
          @ownFoods.map { ownFood => 
              <tr>
                <td> <input type="text" name="name" id="name-@ownFood.id.get" value="@ownFood.name" class="span2 food-input" title="Please hit enter to update" rel="tooltip" /> <input type="hidden" value="@ownFood.id.get" name="id" id="id-@ownFood.id.get" /> </td>
                <td> <input type="text" name="amount" id="amount-@ownFood.id.get" value="100" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
                <td> <input type="text" name="energy" id="energy-@ownFood.id.get" value="@ownFood.kCal" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
                <td> <input type="text" name="protein" id="protein-@ownFood.id.get" value="@ownFood.protein" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
                <td> <input type="text" name="fat" id="fat-@ownFood.id.get" value="@ownFood.fat" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
                <td> <input type="text" name="carbs" id="carbs-@ownFood.id.get" value="@ownFood.carbs" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
                <td> <i class="icon-exclamation-sign" style="display:none;" id="unsave-@ownFood.id.get"> </i> <i class="icon-ok" style="display:none;" id="save-@ownFood.id.get"> </i> <a tabindex="-1" href="@{routes.Application.deleteOwnFood(ownFood.id.get)}" style="font-weight: bold; font-size: 16px; line-height: 16px; color: black; text-shadow: 0 1px 0 white; opacity: 0.2;">x</a> </td>
              </tr>
            }
            @{/* add a new food entry */}
            <tr>
              <td> <input type="text" name="name" id="name-new" value="" placeholder="New entry..." class="span2 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> <input type="text" name="amount" id="amount-new" value="" placeholder="100" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> <input type="text" name="kCal" id="energy-new" value="" placeholder="0" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> <input type="text" name="protein" id="protein-new" value="" placeholder="0.0" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> <input type="text" name="fat" id="fat-new" value="" placeholder="0.0" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> <input type="text" name="carbs" id="carbs-new" value="" placeholder="0.0" class="span1 food-input" rel="tooltip" title="Please hit enter to update" /> </td>
              <td> </td>
            </tr>
            <script type="text/javascript" charset="utf-8">
              $(initOwnFoods("@routes.Application.updateFood()"));
            </script>
        }
        @form(routes.Application.submitUserFoodEntry, ('class -> "form-horizontal"), ('id->"hidden-form")) {
          <input type="hidden" name="name" id="name-hidden" value="" />
          <input type="hidden" name="amount" id="amount-hidden" value="" />
          <input type="hidden" name="kCal" id="energy-hidden" value="" />
          <input type="hidden" name="protein" id="protein-hidden" value="" /> 
          <input type="hidden" name="fat" id="fat-hidden" value="" />
          <input type="hidden" name="carbs" id="carbs-hidden" value="" />
          <input type="hidden" name="redirectTo" value="@routes.Application.manageOwnFoodEntries()" />
        }
    }
  }
}


