@()


@import helper._
@import helper.twitterBootstrap2._
@import helper.twitterBootstrap2.Bootstrap2Helpers._

@main(Html("Superbeefcake"), "", None) {
	@bs2Row() {
		@bs2Span(8, Some(1)) {
			<div class="alert alert-error hide" id="alert-passwords-match">
				The passwords need to match!
			</div>
			<div class="alert alert-error hide" id="alert-password-length">
				The password needs to be at least 4 characters long!
			</div>
			<div class="alert alert-error hide" id="alert-username">
				Please enter a username.
			</div>
			<div class="alert alert-error hide" id="alert-email">
				Please enter a valid email address.
			</div>
		}
	}
	@bs2Row() {
		@bs2Span(8, Some(1)) {
			<h3>Registration</h3>
			@form(routes.Application.registerUser){
				<div class="control-group">
					@bs2TextField(name="username", size=3, placeholder=Some("Username"))
					@bs2TextField(name="email", size=3, placeholder=Some("Email"))
					@bs2PasswordField(name="password", size=3, placeholder=Some("Password"))
					@bs2PasswordField(name="passwordRepeat", size=3, placeholder=Some("Password again"))
					<div class="controls">
						<input id="submit-button" type="submit" class="btn btn-primary" value="Register" />
                        <script type="text/javascript" src="@routes.Assets/at("javascript/register.js")"></script>
						<script type="text/javascript" charset="utf-8">
							$(function() {
                                initRegister();
							});
						</script>
					</div>
				</div>
			}
		}
	}
}

